# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

Data/The Movies Dataset/**
Data/IMDB/*.tsv
Data/IMDB/**
Data/Wikipedia Movie Plots/**./.git/objects/43/56e64b2057e311030ea7bac8d204d46a8590ab
./.git/objects/6f/9369e3fab39ee041aa7cc7e4c64c42939583ad
./.git/objects/77/fd140585fc13df7435820096551eb2ede720e2
./.git/objects/b1/1131c84c2aebc57f4a9cb828f11d2c0194d44b
./.git/objects/d0/21d887226a945d15242b29645805e63c183ae3
./.git/objects/d0/7eaa731cfb69bd220a01699c120d1848232a0e
./Data/IMDB/basic_name_data.tsv
./Data/IMDB/title_basics_data.tsv
./Data/IMDB/title_data.tsv
./Data/IMDB/title_principals_data.tsv
./Data/The Movies Dataset/credits.csv
./Data/The Movies Dataset/ratings.csv
./Data/Wikipedia Movie Plots/wiki_movie_plots_deduped.csv
./.git/objects/43/56e64b2057e311030ea7bac8d204d46a8590ab
./.git/objects/6f/9369e3fab39ee041aa7cc7e4c64c42939583ad
./.git/objects/77/fd140585fc13df7435820096551eb2ede720e2
./.git/objects/b1/1131c84c2aebc57f4a9cb828f11d2c0194d44b
./.git/objects/d0/21d887226a945d15242b29645805e63c183ae3
./.git/objects/d0/7eaa731cfb69bd220a01699c120d1848232a0e
./Data/IMDB/basic_name_data.tsv
./Data/IMDB/title_basics_data.tsv
./Data/IMDB/title_data.tsv
./Data/IMDB/title_principals_data.tsv
./Data/The Movies Dataset/credits.csv
./Data/The Movies Dataset/ratings.csv
./Data/Wikipedia Movie Plots/wiki_movie_plots_deduped.csv
./.git/objects/43/56e64b2057e311030ea7bac8d204d46a8590ab
./.git/objects/6f/9369e3fab39ee041aa7cc7e4c64c42939583ad
./.git/objects/77/fd140585fc13df7435820096551eb2ede720e2
./.git/objects/b1/1131c84c2aebc57f4a9cb828f11d2c0194d44b
./.git/objects/d0/21d887226a945d15242b29645805e63c183ae3
./.git/objects/d0/7eaa731cfb69bd220a01699c120d1848232a0e
./.git/objects/fd/67c9bc1014c7e86ad0ac4f753f2ffd53b1521e
./Data/IMDB/basic_name_data.tsv
./Data/IMDB/ratings_data.tsv
./Data/IMDB/title_basics_data.tsv
./Data/IMDB/title_data.tsv
./Data/IMDB/title_principals_data.tsv
./Data/The Movies Dataset/credits.csv
./Data/The Movies Dataset/movies_metadata.csv
./Data/The Movies Dataset/ratings.csv
./Data/Wikipedia Movie Plots/wiki_movie_plots_deduped.csv
